:root{
    --header-bg:#2C3E50;
    --primary-bg:#1ABC9C;
    --white-bg:#fff;
    --tertiary-bg:#3A546D;   
}

menu,
ul,
ol,
li{
   list-style-type: none; 
   padding:0;
   margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
    line-height: 1.5rem;
}


img{
    display: block;
    max-width: 100%;
}


/* ##############################################

LAYOUT RULES

################################################ */

.bla_header,
.bla_footer{
    background-color: var(--header-bg);
    color: var(--white-bg);
}

.bla_hero,
.bla_about{
    background-color: var(--primary-bg);
    color: var(--white-bg);
    padding: 3.25rem 0;
}

.bla_portfolio,
.bla_contact{
    background-color: var(--white-bg);
    color: var(--header-bg);
    padding: 2rem 0;
}

.bla_copyr{
    padding: 1.5rem;
}

.bla_info{
    padding: 2rem;
    background-color: var(--tertiary-bg);
}



/* ##############################################

HEADER RULES

################################################ */




.nav-link,
.navbar-brand,
.nav-link:hover,
.navbar-brand:hover{
    color:currentColor;
}

.nav-link:hover{
    color: currentColor;
}

.bla_header nav{
    padding: 0.5rem 0;
    color: var(--white-bg);
}

@media screen and (max-width:575px){

    .bla_extended-menu{
        display:none;
    }

    .bla_burger-menu{
        display:block;
    }

}

@media screen and (min-width:576px){

    .bla_extended-menu{
        display:block;
    }

    .bla_burger-menu{
        display:none;
    }
}


/* ##############################################

HERO RULES

################################################ */

.bla_hero img{
    max-width: 40%;
    margin: auto;
}

.bla_star::before{
    content: "";
    display: inline-block;
    height: 4px;
    width:18%;
    border-radius: 99px;
    background-color: currentColor;
    margin-right: .5rem;
}

.bla_star::after{
    content: "";
    display: inline-block;
    height: 4px;
    width:18%;
    border-radius: 99px;
    background-color: currentColor;
    margin-left: .5rem;
}


/* ##############################################

PORTFOLIO RULES

################################################ */

.bla_portfolio img{
    border-radius: 12px;
}




/* ##############################################

DEBUG RULES

################################################ */

.debug{
    border: 4px dashed salmon;
}

[class ^= "col"]{
    border: 2px solid rgb(228, 163, 0);
}