:root{
    --header-bg:#2C3E50;
    --primary-bg:#1ABC9C;
    --white-bg:#fff;
    --tertiary-bg:#3A546D;   
}




/* ##############################################

HEADER RULES

################################################ */

.bla_header{
    background-color: var(--header-bg);
    color: var(--white-bg);
}

/* ##############################################

HERO RULES

################################################ */

.bla_hero{
    background-color: var(--primary-bg);
    color: var(--white-bg);
    padding: 3.25rem 0;
}

/* ##############################################

 RULES

################################################ */

.bla_hero{
    background-color: var(--primary-bg);
    color: var(--white-bg);
    padding: 3.25rem 0;
}




/* ##############################################

DEBUG RULES

################################################ */

.debug{
    border: 4px dashed salmon;
}

[class ^= "col"]{
    background-color: rgb(0, 154, 0);
    border: 1px solid rgb(215, 255, 71);
}